# editors
.vscode/
.*.swp
*~

# outputs
*.dll
*.exe

# macOS
.DS_Store

# terraform
.terraform/
*.tfstate
*.tfstate.*
*.tfplan

bin/
modules-dev/
/pkg/
website/.vagrant
website/.bundle
website/build
website/node_modules

# vagrant
.vagrant/

*.backup
*.log
*.bak
.idea
*.iml
*.test
*.iml
